.container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 24px;
}

table {
  width: 100%;
}

th {
  font-weight: 600;
}

td,
th {
  padding: 12px 16px;
}